/* Colors */

$primary-color:  #ff7b00;
$secondary-color:#0d1941;
$accent-color: #13bac4;
$bg-secondary-color: #bebebe;
$text-color:#585858;

$white:#ffffff;

/* fonts */

$primary-font:'Poppins', sans-serif;

/*  */

%transform {
    transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -o-transform: scale(1.3);
        -moz-transform: scale(1.3);
}
