/* Portada */
  
 
/* Nav y Header */
header {
    background-image: url(../img/portada.svg);
    background-size: cover;
    height: 100vh;
    top: 0;
    z-index: -1;
    margin-top: -300px;
    width: 100%;
  }
    
  .navbar-light {
    background: transparent;
    position: sticky;
    top: 0;
  }
  
  .portada{
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
  }
  
  .navbar-collapse {
    background: transparent;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  a {
    color: $white;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 3rem;
  }
  
  .navbar-nav a:hover {
    color: #13bac4;
  }

  .navbar>.container {
    flex-direction: row-reverse;
}

  